{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage-intro">
  <div class="content">
    <div class="title">Mohd Sufiyan Rahmat</div>
    <span>{{ age }}, Technopreneur, Software Engineer</span>
    <div class="push">&nbsp;</div>
    
    <div class="content-squeeze">
      <h1>In a nutshell</h1>
      <p>I aspire to be a Full Stack Developer. I am capable of developing web apps, both on my own as well as in a team environment. From concept to design, front-end to back-end as well as web server administration. Ecstatically pleasing UIs is especially important to me as it shows professionalism in the work.</p>
      <p>I have experience running my own start-up for the past few years (part-time as well as full-time) and especially the last 6 months as part of JFDI's (Joyful Frog Digital Incubator) Accelerator programme.</p>
      <p>As a Senior Web Developer in a previous ad agency for more than 2 years, 9 months, I have also worked closely with various media agency partners, account managers, designers, art directors and direct with clients (as well as the occasional copywriters), and thus well versed in the advertising, media and marketing landscape.</p>
      <p>I am also experienced in web server administration; particularly on Amazon Web Services (AWS) and can deploy and host web servers on the fly. Building scalable web is one of my next learning points.</p>
    </div>
    
    <div class="content-squeeze">
      <h1>Web Dev Skill set</h1>
    </div>
    <div class="colBoxes">
      <ul>
        <li>
          <div class="colBox">
            <h2>Technology Stack</h2>
            <ul class="tags">
              <li><a href="#">LAMP</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">MySQL</a></li>
              <li><a href="#">MVC</a></li>
              <li><a href="#">OOP</a></li>
              <li><a href="#">Memcached</a></li>
              <li><a href="#">RESTful API Design</a></li>
              <li><a href="#">API Integrations</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2>Front-end</h2>
            <ul class="tags">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">JQuery</a></li>
              <li><a href="#">AJAX</a></li>
              <li><a href="#">JSON</a></li>
              <li><a href="#">Responsive Web</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2>Project Execution</h2>
            <ul class="tags">
              <li><a href="#">AWS</a></li>
              <li><a href="#">Git</a></li>
              <li><a href="#">Linux Web Server</a></li>
              <li><a href="#">Concept Proposals</a></li>
              <li><a href="#">Technology Consultation</a></li>
              <li><a href="#">Social Media Consultation</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2>Project Management</h2>
            <ul class="tags">
              <li><a href="#">Concept Proposals</a></li>
              <li><a href="#">Technical Consultation</a></li>
              <li><a href="#">Social Media Consultation</a></li>
              <li><a href="#">Team Management</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="push"></div>
  </div>
</div>
{% endblock %}