{% extends "_templates/base.twig" %}
{% block content %}
<div class="content pageError">
  <h1>401</h1>
  <p><strong>Page not found</strong><br>
    Sorry, the page you are looking might have been moved or deleted.</p>
</div>
{% endblock %}