{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage-intro">
  <div class="content">
    <div class="title">Aspiring Full Stack Developer</div>
    <span>Creating beautiful web. Building maintainable codes.</span>
    <p>Looking for a developer? <a href="mailto:mosufy@gmail.com">Hook me up</a> for your next project.</p>
    <!--<p>Technology Skillset</p>
    <ul class="tags">
      <li><a href="#">PHP</a></li>
      <li><a href="#">MySQL</a></li>
      <li><a href="#">JQuery</a></li>
      <li><a href="#">AJAX</a></li>
      <li><a href="#">JSON</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">Media Queries</a></li>
      <li><a href="#">RESTful API Design</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">Responsive Design</a></li>
    </ul>-->
  </div>
</div>
{% endblock %}