{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage-intro">
  <div class="content">
    <div class="title">Projects</div>
    <div class="push">&nbsp;</div>
    
    <div class="colBoxes fourCol">
      <ul>
        <li>
          <div class="colBox">
            <h2><a href="https://www.thearena.co">Arena &raquo;</a></h2>
            <p>Provides quantitative metrics to help young professionals stand out for promotion through a gamified concept.</p>
            <img src="img/mockup-arena.jpg">
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2><a href="https://www.heymaggie.com">Maggie &raquo;</a></h2>
            <p>Automates timekeeping for hourly-based professionals, offering their clients credible and accurate invoices.</p>
            <img src="img/mockup-arena.jpg">
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2><a href="https://www.propertyapi.com">PropertyAPI &raquo;</a></h2>
            <p>Provides real estate agents the ability to have their own property listing website integrated via RESTful API.</p>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h2><a href="http://www.vixhub.com">VixHub &raquo;</a></h2>
            <p>Simplifies business processes and combines the many aspects of running a business packaged into one software.</p>
        </li>
      </ul>
    </div>
    <div class="push">&nbsp;</div>
    
    <p><a href="https://github.com/mosufy/">View my other works on GitHub</a></p>
    
  </div>
</div>
{% endblock %}