{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>Projects</h1>
  <div class="push">&nbsp;</div>
  
  <div class="colBoxes fourCol">
    <ul>
      <li>
        <div class="colBox">
          <h3><a href="https://www.thearena.co">Arena &raquo;</a></h3>
          <p>Provides quantitative metrics to help young professionals stand out for promotion through a gamified concept.</p>
          <img src="img/mockup-arena.jpg">
          <strong>Status:</strong> In-development<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="https://www.heymaggie.com">Maggie &raquo;</a></h3>
          <p>Automates timekeeping for hourly-based professionals, offering their clients credible and accurate invoices.</p>
          <img src="img/mockup-maggie.jpg">
          <strong>Status:</strong> Closed BETA<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="https://www.propertyapi.com">PropertyAPI &raquo;</a></h3>
          <p>Provides real estate agents the ability to have their own property listing website integrated via RESTful API.</p>
          <img src="img/mockup-propertyapi.jpg">
          <strong>Status:</strong> v2.0<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>RESTful API Design</a></li>
            <li><a>AJAX</a></li>
            <li><a>JSON</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="http://www.vixhub.com">VixHub &raquo;</a></h3>
          <p>Simplifies and packages business processes into a single comprehensive and user-friendly cloud-based software.</p>
          <img src="img/mockup-vixhub.jpg">
          <strong>Status:</strong> Closed<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="push">&nbsp;</div>
  
  <h1>Experiements</h1>
  <div class="push">&nbsp;</div>
  
  <div class="colBoxes fourCol">
    <ul>
      <li>
        <div class="colBox">
          <h3><a href="http://apicolabhackday.mosufy.com">API coLAB &raquo;</a></h3>
          <p>Tinder for Cheaper Flights concept app for Hack Day. Coded in 6 hours with a 2-min pitch.</p>
          <img src="img/apicolab-hackday-tinderforcheaperflights.jpg">
          <strong>GitHub:</strong> <a href="https://github.com/mosufy/apicolab-hackday">mosufy/apicolab-hackday</a><br>
          <strong>Role:</strong> Owner &amp; Contributor<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LEMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>Laravel 5</a></li>
            <li><a>SkyScanner API</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>Bootstrap</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="https://buswhere.mosufy.com/">BusWhere &raquo;</a></h3>
          <p>Search for buses near an area and know when the buses arrive at a specific bus stop using an API.</p>
          <img src="img/mockup-buswhere.jpg">
          <strong>GitHub:</strong> <a href="https://github.com/mosufy/bus-where">mosufy/bus-where</a><br>
          <strong>Role:</strong> Owner &amp; Contributor<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>RESTful API Design</a></li>
            <li><a>AJAX</a></li>
            <li><a>JSON</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="http://php-mvc.mosufy.com">MVC Framework &raquo;</a></h3>
          <p>Provides basic, barebone essentials to deploy a project quickly. Hosted on GitHub.</p>
          <img src="img/mockup-php-mvc.jpg">
          <strong>GitHub:</strong> <a href="https://github.com/mosufy/php-mvc">mosufy/php-mvc</a><br>
          <strong>Role:</strong> Owner &amp; Contributor<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="push">&nbsp;</div>
  
  <p><a href="https://github.com/mosufy/">View my other works on GitHub</a></p>
  
</div>
{% endblock %}