{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>Projects</h1>
  <div class="push">&nbsp;</div>
  
  <div class="colBoxes fourCol">
    <ul>
      <li>
        <div class="colBox">
          <h3><a href="https://www.thearena.co">Arena &raquo;</a></h3>
          <p>Provides quantitative metrics to help young professionals stand out for promotion through a gamified concept.</p>
          <img src="img/mockup-arena.jpg">
          <strong>Status:</strong> In-development<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="https://www.heymaggie.com">Maggie &raquo;</a></h3>
          <p>Automates timekeeping for hourly-based professionals, offering their clients credible and accurate invoices.</p>
          <img src="img/mockup-maggie.jpg">
          <strong>Status:</strong> Closed BETA<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="https://www.propertyapi.com">PropertyAPI &raquo;</a></h3>
          <p>Provides real estate agents the ability to have their own property listing website integrated via RESTful API.</p>
          <img src="img/mockup-propertyapi.jpg">
          <strong>Status:</strong> v2.0<br>
          <strong>Role:</strong> Lead Developer<br>
          <strong>Technology Stack:</strong>
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>RESTful API Design</a></li>
            <li><a>AJAX</a></li>
            <li><a>JSON</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="colBox">
          <h3><a href="http://www.vixhub.com">VixHub &raquo;</a></h3>
          <p>Simplifies and packages business processes into one comprehensive and user-friendly software.</p>
          <img src="img/mockup-vixhub.jpg">
          <ul class="tags">
            <li><a>LAMP</a></li>
            <li><a>PHP</a></li>
            <li><a>MySQL</a></li>
            <li><a>MVC Framework</a></li>
            <li><a>OOP</a></li>
            <li><a>Memcached</a></li>
            <li><a>AWS</a></li>
            <li><a>Git</a></li>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JQuery</a></li>
            <li><a>Responsive Web</a></li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="push">&nbsp;</div>
  
  <p><a href="https://github.com/mosufy/">View my other works on GitHub</a></p>
  
</div>
{% endblock %}