{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>Mohd Sufiyan Rahmat</h1>
  <span class="subTitle">{{ age }}, Technopreneur, Software Engineer</span>
  <div class="push">&nbsp;</div>
  
  <div class="content-squeeze">
    <h2>In a nutshell</h2>
    <p>I aspire to be a Full Stack Developer. I am capable of developing web apps, both on my own as well as in a team environment. From concept to design, front-end to back-end as well as web server administration. Ecstatically pleasing UIs is especially important to me as it shows professionalism in the work.</p>
    <p>I have experienced running my own start-up for the past few years (part-time as well as full-time) and especially the last 6 months as part of JFDI's (Joyful Frog Digital Incubator) Accelerator programme.</p>
    <p>As a Senior Web Developer in a previous ad agency for more than 2 years, 9 months, I have also worked closely with various media agency partners, account managers, designers, art directors and direct with clients (as well as the occasional copywriters), and thus well versed in the advertising, media and marketing landscape.</p>
    <p>I am also experienced in web server administration; particularly on Amazon Web Services (AWS) and can deploy and host web servers on the fly. Building scalable web is one of my next learning points.</p>
  </div>
  
  <div class="content-squeeze">
    <h2>Web Dev Skill Set</h2>
    <div class="colBoxes">
      <ul>
        <li>
          <div class="colBox">
            <h3>Technology Stack</h3>
            <ul class="tags">
              <li><a>LAMP</a></li>
              <li><a>PHP</a></li>
              <li><a>MySQL</a></li>
              <li><a>MVC Framework</a></li>
              <li><a>OOP</a></li>
              <li><a>Memcached</a></li>
              <li><a>RESTful API Design</a></li>
              <li><a>API Integrations</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h3>Front-end</h3>
            <ul class="tags">
              <li><a>HTML</a></li>
              <li><a>CSS</a></li>
              <li><a>JavaScript</a></li>
              <li><a>JQuery</a></li>
              <li><a>AJAX</a></li>
              <li><a>JSON</a></li>
              <li><a>Responsive Web</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h3>Project Execution</h3>
            <ul class="tags">
              <li><a>AWS</a></li>
              <li><a>Git</a></li>
              <li><a>Linux Web Server</a></li>
              <li><a>Concept Proposals</a></li>
              <li><a>Technology Consultation</a></li>
              <li><a>Social Media Consultation</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
        <li>
          <div class="colBox">
            <h3>Project Management</h3>
            <ul class="tags">
              <li><a>Concept Proposals</a></li>
              <li><a>Technical Consultation</a></li>
              <li><a>Social Media Consultation</a></li>
              <li><a>Team Management</a></li>
            </ul>
            <div class="push"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="push">&nbsp;</div>
  
  <div class="content-squeeze" style="text-align:left;">
    <h2 style="text-align:center;">Working Experience</h2>
    <ul>
      <li><strong>Co-Founder, CTO</strong>, SM Solutions<br>
        Mar 2014 - present | 6 months and up<br>
        Learnt crucial aspects of running a successful start-up including business development, pitch presentation, investor management and applied concepts for LEAN and Agile. In-charge of development and production of various SaaS products.</li>
      <li><strong>Senior Web Developer</strong>, The Idea Lab<br>
        Jul 2011 - Mar 2014 | 2 years 9 months<br>
        Led a 3-5 men digital team, developed >30 Facebook apps, advisor for Social Media campaigns as well as many other digital deliverables as part of digital marketing (web banners, eDM, websites). Clients serviced include Tigerair, Burger King, WDA, Nestle (Sjora &amp; Milo), Ngee Ann Polytechnic, Resorts World Sentosa, among others.</li>
      <li><strong>Instructor &amp; Platoon Commander</strong>, Singapore Armed Forces<br>
        Jul 2007 - Jun 2011 | 4 years<br>
        Army Regular (Contract). Assistant Platoon Commander (APC) at Officer Cadet School (OCS). Platoon Commander (Lieutenant) of 1st Battalion Singapore Guards. Awarded Best Company twice during term.</li>
    </ul>
  </div>
  
  <div class="content-squeeze" style="text-align:left;">
    <h2 style="text-align:center;">Achievements</h2>
    <ul>
      <li><strong>Top 4% selected for JFDI.Asia</strong><br>
        13/315 teams successfully selected and completed the 100 Day JFDI 2014A Accelerator Bootcamp (Mar - Jun 2014)</li>
      <li><strong>1st place StarHub SmartFoundry Challenge 2013</strong><br>
        Overall Champion for StarHub's Challenge for productivity software</li>
      <li><strong>1st runner-up StarHub Hackathon</strong><br>
        2nd place for StarHub's Enterprise Communications Made Easy Hackathon leveraging on Tropo API (12 hour Hackathon)</li>
      <li><strong>Singapore Representative for APICTA (Macau)</strong><br>
        Participated and represented Singapore in the Tertiary Student Award (Singapore Polytechnic) for Technology Software in Asia Pacific ICT Awards held in Macau</li>
    </ul>
  </div>
  
  <p><a href="http://sg.linkedin.com/in/mohdsufiyan/">View my complete profile on LinkedIn</a></p>
  
</div>
{% endblock %}