{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>Aspiring Full Stack Developer</h1>
  <span class="subTitle">Creating beautiful web. Building maintainable codes.</span>
  <p>Looking for a developer? <a href="../../index.php">Hook me up</a> for your next project.</p>
</div>
{% endblock %}