<div class="content">
  <ul>
    <li><a href="https://github.com/mosufy/"><img src="img/icon-github.png"></a> <a href="http://sg.linkedin.com/in/mohdsufiyan/"><img src="img/icon-linkedin.png"></a></li>
    <li><a href="tel:+6584840255">+65 8484 0255</a></li>
    <li><strong><a href="../../../index.php">mosufy@gmail.com</a></strong></li>
  </ul>
  <strong>&copy; 2014 mosufy</strong>. Mohd Sufiyan.
</div>
